!chromedriver
.idea/**
/datasheets/*
/Data/*
/src/Configuration.xml
/src/Environments.xml
/testng/*
chromedriver
*.app
*.apk
*.ipa
*.xap
*.png
*.jpg
*.jpeg
*.gif
*.html
*.pack
# Directories #
/build/
/bin/
/target/
/Execution/
/Reports/
/Tickets/
/Credentials/
 
# OS Files #
.DS_Store
 
*.class
*.mp3 
*.wma
# Package Files #
#*.jar
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
test-output/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath
